---
layout: base
image:
    path: /assets/img/banner_dark.jpg
    width: 1494
    height: 1029
---
<div class="banner vid-wrapper">
  <div class="col-5">
    <video autoplay muted width="100%">
      <source src="/assets/img/render2_sm.mp4" type='video/mp4' class="col-5 banner-img">
    </video>
  </div>

  <div class="col-5 banner-text-wrapper">
    <h1 class="banner-text">Powerful keyboard knob/encoder controller with a ton of features</h1>
  </div>
</div>
<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  <div class="row banner">

  </div>

  <br><br>

  <div class="row">
    <div class="col-3">
      <p><ion-icon name="options" size="large"></ion-icon></p>

      <h3>Universal keyboards/dials support</h3>

      <p>Smartwheel will work with any encoder - no support from the vendor required</p>

    </div>
    <div class="col-3">
      <p><ion-icon name="extension-puzzle" size="large"></ion-icon></p>

      <h3>Addons support</h3>

      <p>There will be a wide range of plugins: from Krita/PS integrations to small quality-of-life imporvements</p>
    </div>
    <div class="col-3">
      <p><ion-icon name="color-palette" size="large"></ion-icon></p>

      <h3>Theming</h3>

      <p>Smartwheel is fully customizable - from color palettes to core features</p>
    </div>
  </div>

  <br>

  <h2>Supported platforms</h2>

  <div class="row-small">
    <div class="col-sm">
      <p><ion-icon name="logo-windows" size="large"></ion-icon></p>
    </div>
    <div class="col-sm">
      <p><ion-icon name="logo-apple" size="large"></ion-icon></p>
    </div>
    <div class="col-sm">
      <p><ion-icon name="logo-tux" size="large"></ion-icon></p>
    </div>
  </div>

  <br>

  <img src="/assets/img/screen1.png" alt="" class="col-5">

  <br>

  <h3><ion-icon name="logo-octocat"></ion-icon> Please visit <a href="https://github.com/enaix/smartwheel-core">the project Github</a> for more information. Don't forget to leave a star if you like it!</h3>

  <h3><ion-icon name="logo-discord"></ion-icon> Join the discord server: <a href="https://discord.gg/dHxeHx85nA">invite link</a></h3>

  {{ content }}


  {% if site.paginate %}
    {% assign posts = paginator.posts %}
  {% else %}
    {% assign posts = site.posts %}
  {% endif %}


  {%- if posts.size > 0 -%}
    {%- if page.list_title -%}
      <h2 class="post-list-heading">{{ page.list_title }}</h2>
    {%- endif -%}
    <ul class="post-list">
      {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
      {%- for post in posts -%}
      <li>
        <span class="post-meta">{{ post.date | date: date_format }}</span>
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h3>
        {%- if site.show_excerpts -%}
          {{ post.excerpt }}
        {%- endif -%}
      </li>
      {%- endfor -%}
    </ul>

    {% if site.paginate %}
      <div class="pager">
        <ul class="pagination">
        {%- if paginator.previous_page %}
          <li><a href="{{ paginator.previous_page_path | relative_url }}" class="previous-page">{{ paginator.previous_page }}</a></li>
        {%- else %}
          <li><div class="pager-edge">•</div></li>
        {%- endif %}
          <li><div class="current-page">{{ paginator.page }}</div></li>
        {%- if paginator.next_page %}
          <li><a href="{{ paginator.next_page_path | relative_url }}" class="next-page">{{ paginator.next_page }}</a></li>
        {%- else %}
          <li><div class="pager-edge">•</div></li>
        {%- endif %}
        </ul>
      </div>
    {%- endif %}

  {%- endif -%}

</div>
